@import url(font-awesome.min.css); 

body {
  /*background-color: #f5f5f5;*/
  font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
  font-size: 12px;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

header{
	border-top: 2px solid #1ba1e2;
}

/*-------------------------------重写导航样式----------------------------------------*/

.navbar {
  border-radius: 0px;
}

/*-------------------------------重写BS的一些样式----------------------------------------*/
/*总宽度控制*/
.container-fluid {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}

/*详情页的页面标题字*/
.page-header {
	margin-top: 10px;
}
.page-header h1 {
	font-size:26px;
}
/*重写panel样式*/
.panel {
    border-radius: 0px;
	min-width:309px;
}
.panel-body {
  padding: 3px;
}
/*避免手机上图片宽度超过整页宽度*/
.panel-body img {
  display: block;
  height: auto;
  max-width: 100%;	
}
/*重写list-group样式,去除圆角*/
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}


/*-------------------------------首页工具分类样式----------------------------------------*/

.section-list {
	padding: 10px 15px;
	margin-bottom:20px;
}
.section-header {
  position: relative;
  margin-bottom:10px;
}
.section-header h2 {
  text-transform: uppercase;
  font-size: black;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 4px solid black;
  color: black;
  letter-spacing: 0.6px;
  font-size: 18px;
  background: #fff;
  z-index: 2;
}
.section-header:after {
  content: '';
  width: 100%;
  height: 1px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.02);
  position: absolute;
  top: 50%;
  left: 0;
}

.section-text {
  margin-top: 30px;
}
.section-subtext {
  color: #a8a8a8;
}
.section-features.separate {
  border-bottom: 1px solid #eee;
}
.section-features .section-item {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.section-features .section-item h2, .section-features .section-item h3, .section-features .section-item h4, .section-features .section-item h5, .section-features .section-item p, .section-features .section-item i {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media (min-width: 350px){/*只在电脑显示边框*/
	.section-features .section-item.second {
	  border-left: 1px solid #eee;
	  border-right: 1px solid #eee;
	}
}

.section-features .section-item .icon{
  margin-top: 20px;
  float:left;
}
.section-features .section-item .icon i {
  color:#2c6ca4;/*eb4e16  2c6ca4*/
  font-size: 3em;
}
.section-features .section-item .text{
	float:right;
}
.section-features .section-item .text h3{
  font-size: 16px;
}
.section-features .section-item .text p{
  font-size: 12px;
}
.section-features .section-item:hover {
  background:#DFF5FE;
  /*color: white;*/
}


/*-------------------------------二级页面工具墙样式----------------------------------------*/
.tool-well .well{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border:1px solid #cdcdcd;padding:10px;background:#fff;-webkit-box-shadow:1px 1px 5px #cdcdcd;box-shadow:1px 1px 5px #cdcdcd}
.tool-well .well .title{margin:10px 0 10px 0;color:rgba(27,27,27,0.8);font-size:22px;text-shadow:1px 1px 1px rgba(231,231,231,0.8);text-align:center;font-weight:normal;text-transform:none}
.tool-well .well .description{font-size:12px;text-align:center}
.tool-well .well .prominent{margin:0 -14px;padding:20px 0;text-shadow:none;color:#55a79a;display:block;border:1px solid #cdcdcd;background:#fff;text-align:center;font-size:16px;line-height:1}
.tool-well .well .prominent .fancy{font-size:28px}
.tool-well .well .prominent .digits{font-size:32px;font-weight:bold}
.tool-well .well ul{ }
.tool-well .well ul li{ line-height:30px;}

.tool-well .well ul.points li{border-bottom:1px dotted rgba(180,180,180,0.8);padding:.2em}
.tool-well .well .btn{display:block;width:auto;margin:20px auto 0 auto}
.tool-well .well.active{border-color:#55a79a;border-width:1px;-webkit-box-shadow:1px 2px 5px #cdcdcd;box-shadow:1px 2px 5px #cdcdcd}
.tool-well .well.active .title{font-size:28px;text-transform:uppercase}
.tool-well .well.active .prominent{background:#55a79a;background-image:-webkit-linear-gradient(top, #55a79a 0, #65b1a5 100%);background-image:linear-gradient(to bottom, #55a79a 0, #65b1a5 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff55a79a', endColorstr='#ff65b1a5', GradientType=0);border-color:#55a79a;color:#fff}
.tool-well .well.active .btn{margin-top:40px}



/*-------------------------------重写表格样式----------------------------------------*/
.table th{color:#ffffff;background-color:#555555;border:1px solid #555555;}
.table th a:link,.table th a:visited{color:#ffffff;}
.table th a:hover,table th a:active{color:#EE872A;}

.table tr:nth-child(odd){background-color:#F6F4F0;}
.table tr:nth-child(even){background-color:#ffffff;}

/*.table td{border:1px solid #d4d4d4;padding:5px;padding-top:7px;padding-bottom:7px;vertical-align:top;}
*/
/*-------------------------------重写面包屑样式----------------------------------------*/
.breadcrumb {
  padding: 10px 0px 10px 10px;
  list-style: none;
  background-color:#FFFFFF;
  border-radius: 0px;
  border-bottom: 1px solid #e3e3e3;
}

.breadcrumb > li + li:before {
  content: "»";
}


/*-------------------------------左侧列表菜单样式----------------------------------------*/
.sidebar-menu{overflow:hidden;list-style:none;background:#fafafb;border:1px solid #d8d8d8;border-radius:0px;padding-left: 0;min-width:309px;}
.sidebar-menu a:hover{text-decoration:none}
.sidebar-menu li{border-top:1px solid #fff;border-bottom:1px solid #eee; padding:0;}
.sidebar-menu li:last-child{border-bottom:0}
.sidebar-menu li:first-child{border-top:0.00}
.sidebar-menu a{display:block;padding:8px 10px 8px 8px;text-shadow:0 1px 0 #fff;border-left:2px solid #fafafb}
.sidebar-menu a:hover{background:#fdfdfe}
.sidebar-menu a .octicon{width:16px;color:#333333;text-align:center}
.sidebar-menu a .fa{ padding-right:5px;}
.sidebar-menu a.selected{font-weight:bold;color:#222;cursor:default;background:#fff;border-right:2px solid #d26911}
.sidebar-menu a .counter{float:right;margin-left:5px}
.sidebar-menu .menu-warning{float:right;color:#d26911}

/*-------------------------------左侧子列表菜单样式----------------------------------------*/
.listbar-menu{overflow:hidden;list-style:none;background:#fafafb; border-bottom:1px solid #eee;border-radius:0px;padding-left: 15px;min-width:309px;}
.listbar-menu a:hover{text-decoration:none}
.listbar-menu li{border-top:1px solid #fff;border-bottom:1px solid #eee; border-left:1px solid #d8d8d8; padding:0;text-overflow:clip}
.listbar-menu li:last-child{border-bottom:0}
.listbar-menu li:first-child{border-top:0.00}
.listbar-menu a{display:block;padding:8px 10px 8px 8px;text-shadow:0 1px 0 #fff;border-left:1px solid #fff;text-overflow:clip; overflow:hidden;white-space: nowrap;}
.listbar-menu a:hover{background:#fdfdfe}
.listbar-menu a .octicon{width:16px;color:#333333;text-align:center}
.listbar-menu a .fa{ padding-right:5px;}
.listbar-menu a.selected{font-weight:bold;color:#222;cursor:default;background:#fff;border-right:2px solid #d26911;text-overflow:clip; overflow:hidden;white-space: nowrap;}
.listbar-menu a .counter{float:right;margin-left:5px}
.listbar-menu .menu-warning{float:right;color:#d26911}

/*-------------------------------页脚----------------------------------------*/
.footer {background-color: whiteSmoke; height:60px; }
.tongji {
	display:none;
}

/*-------------------------------重写导航部分右侧下拉菜单----------------------------------------*/
.pop-tight-menu{
	position:absolute;
	left:100%;
	top:0;
}

/*-------------------------------重写菜单向右箭头----------------------------------------*/
.caret-right{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left:2px;
  margin-top: 6px;
  vertical-align: middle;
  border-top: 4px solid transparent;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  float:right;
  color:#777;
}
/*-------------------------------重写菜单左侧箭头----------------------------------------*/
.caret-left{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left:0px;
  margin-top: 10px;
  vertical-align: middle;
  border-top: 4px solid transparent;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  float:left;
  color:#777;
}

/*------------------重写首页子栏目框-------------------------*/
.item-border{border:1px solid #DDD; width:22%; float:left; margin:10px;}
.item-border:hover{border:1px solid #5cc2d0;}
.item-border a{color:#333;display:block;padding:10px 8px}
.item-border a{color:#333;display:block;padding:10px 8px}
.item-border a:hover{color:#390;text-decoration:none}
.title-h,.m-box0{ margin:0;}
.title-h a{height:38px; overflow:hidden;text-overflow:ellipsis; white-space:nowrap; max-width:375px;}
.des-info{ height:33px; overflow:hidden;text-overflow:ellipsis; width:90%; padding-left:10px; }
.ico-logo{ position:relative; padding:0; margin:0;}
.ico-logo img{width:50px; margin:15px 10px;}

.m-box1{ border:1px solid #DDD; margin:10px 0;}
.title-l{ margin:0; border:0;}
.title-l a{height:38px; line-height:38px; text-decoration:none; overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}

.h40{ padding:0; margin:0;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
.h40 img{height:40px;margin:0 10px;}